﻿@model IEnumerable<WorkingWithVisualStudio.Models.Product>
@{ Layout = null;}
<! DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Workint With Visual Studio</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>